* {
    font-family: 'Spartan';
}

body {
    background-image: url(./marco-krenn-R2TulcJaqSM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section { 
    /* border: solid red 3px; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 150px;
}

div { 
    margin: auto;
    display: inline-block;
}

P { 
    background-color: rgb(235, 236, 238);
    height: 100px;
}